---
import Layout from "../layouts/Layout.astro";
import { homePageData } from "../data/homePageData";
import ArrowUpRight from "../assets/icons/arrow-up-right.svg";
---

<!-- TODO: This is too much visual noise, make it clearer and quieter -->
<Layout>
  <section class="stack">
    <h1>A quick introduction</h1>
    <p>
      Hiya peeps, I'm Prakhar Nagpal! I'm a final year Computing student at Imperial
      College London working on completing my thesis. I'm developing a way to
      transparently migrate distributed applications hosted on a new serverless
      runtime, <a href="https://github.com/faasm/faasm">Faasm</a>. I took a year off to work as a software
      engineer at a company working on building a testing and tooling platform for self-driving
      cars.
    </p>
    <p>
      I enjoy working on projects involving compilers, operating systems, databases, distributed
      systems, and hacking on emulators/assemblers. I love learning about programming language
      design and type theory. Recently I've gotten into building web applications and design. In the
      free time I'm working through all the books recommended at
      <a href="https://teachyourselfcs.com">Teach Yourself Computer Science</a>, and I just recently
      picked up <a href="https://en.wikipedia.org/wiki/The_Design_of_Everyday_Things">
        The Design of Everyday Things
      </a>
    </p>
    <p>
      Outside of work and school, I love playing badminton, running (I recently ran my first 5K), listening to all sorts of music 
      (I've listed down my favorite artists and bands <a href="/dump/music">here</a>), cooking 
      (favorite recipes and food stories <a href="/dump/food">here</a>), walking and cycling around London (I might add a Strava integration here soon).
    </p>
  </section>
  <section class="mt-4 grid md:grid-cols-2 grid-cols-1 gap-8">
    {Object.entries(homePageData).map(([key, value]) => (
      <div class="stack">
        <h2>{key}</h2>
        <p set:html={value.description} />
        <ul>
          {value.items.map((item) => (
            <li>
              <p>
                <a href={item.link}>
                  {item.title}{item.external && <ArrowUpRight class="inline w-4 h-4 -ml-0.5 mb-0.5" />}</a>: 
                <span set:html={item.description} />
              </p>
            </li>
          ))}
        </ul>
      </div>
    ))}
  </section>
</Layout>
