---
import "../app.css";
import { ClientRouter } from "astro:transitions";
const { frontmatter } = Astro.props;
const { title, category, date } = frontmatter;
const formattedDate = new Date(date).toLocaleDateString("en-GB", {
	month: "long",
	year: "numeric",
});
import ArrowUpLeft from "../assets/icons/arrow-up-left.svg";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/favicon.svg" />
		<ClientRouter transition:animate="fade" />
		<title>Prakhar Nagpal | {frontmatter.title}</title>
	</head>
	<body>
		<main class="max-w-3xl mx-auto md:py-20 py-10 px-4 flex flex-col gap-4 prose">
			<div class="flex gap-2 items-center">
				<a href="/" class="text-body-muted hover:text-body no-underline">
					<ArrowUpLeft class="inline w-4 h-4 mb-1" />
				</a>
				<p class="text-sm text-body-muted">
					{formattedDate} / {category}
				</p>
			</div>
			<h1 class="text-4xl font-heading font-medium text-heading uppercase mt-4 -mb-3 max-w-xl">{title}</h1>
			<section class="stack">
				<slot />
			</section>
		</main>
	</body>
</html>
